@import "./partials/typography";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $color-dark;
  font-family: "Lato-Regular";
}

a {
  color: $color-dark;
  text-decoration: none;
  transition: color 0.15s;

  &:hover {
    color: $color-gecko;
  }
}

// Views
.view {
  &__description {
    font-size: 13px;
  }
}

// Flex helpers
.is-flex {
  display: flex;

  &--vertical-center {
    align-items: center;
  }

  &--horizontal-center {
    justify-content: center;
  }
}

// Spacing helpers
.spacing-top {
  &--small {
    margin-top: 10px;
  }

  &--medium {
    margin-top: 20px;
  }

  &--large {
    margin-top: 40px;
  }
}

.spacing-bottom {
  &--small {
    margin-bottom: 10px;
  }

  &--medium {
    margin-bottom: 20px;
  }

  &--large {
    margin-bottom: 40px;
  }
}

.spacing-top-bottom {
  &--small {
    margin: 10px 0;
  }

  &--medium {
    margin: 20px 0;
  }

  &--large {
    margin: 40px 0;
  }
}
